*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
html{
    scroll-behavior: smooth;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}
@media (max-width:767px) {
    .container{
        width: 350px;
    }
        
    }

@media (min-width:768px) {
    .container{
        width: 750px;
    }
        
    }
    @media (min-width:992px) {
    .container{
        width: 970px;
    }
        
    }
    @media (min-width:1200px) {
    .container{
        width: 1170px;
    }
        
    }
    
header .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    min-height: 80vh;
}

header .container .card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    min-height: 400px;
    background-color: var(--White);
    border-radius: 15px;
    text-align: center;

}



header .container .card img{

    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
header .container .card h2{
    margin-left: 10px;
    width:260px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--Dark-blue);
    line-height: 1.3;
}


header .container .card p{
    margin-bottom: 30px;
    color:var(--Grayish-blue) ;
    line-height: 1.2;
}